@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Fragment+Mono&family=Jost:wght@300&family=Roboto+Mono:wght@100&display=swap');
.form
{
  position: absolute;
  top:300px;
  left:700px;
}

#btn
{
  position: relative;
  left:10px;
  top:2.95px;
  background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

#mainhead
{
  position: relative;
  left:100px;
  top:300px;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Fragment Mono', monospace;
  font-family: 'Jost', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

#motto
{
  position: relative;
  left:1100px;
  top:4px;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Fragment Mono', monospace;
  font-family: 'Jost', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

#video
{
  position: relative;
  left:1100px;
  top:70px;
}
